<div class="bar bar-header bar-positive">
  <button class="button button-clear icon ion-ios7-close-empty" onclick="history.back();"></button>
  <button class="button button-clear icon ion-ios7-checkmark-empty" ng-click="register();"></button>
</div>
<content class="has-header">
  <div class="card">
    <div class="item card-item-divider">Register</div>
    <div class="list">
      <label class="item item-input"><input type="text" placeholder="Username" ng-model="register.username"></label>
      <label class="item item-input"><input type="text" placeholder="Email" ng-model="register.email"></label>
      <label class="item item-input"><input type="password" placeholder="Password" ng-model="register.password"></label>
      <label class="item item-input"><input type="password" placeholder="Confirm Password" ng-model="register.passwordconfirm"></label>
    </div>
  </div>
</content>